<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form [formGroup]="productForm" (ngSubmit)="addProduct()">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Product Name" formControlName="productName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput placeholder="Product Description" formControlName="productDescription">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput placeholder="Product Actual Price" formControlName="productActualPrice">
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discounted Price</mat-label>
                        <input matInput placeholder="Product Discounted Price" formControlName="productDiscountedPrice">
                    </mat-form-field>
                    
                </form>
            </div>
            <div class="col-6">
                <div>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">
                                Drag and drop your file or
                                <a (click)="selectFile.click()" class="browse-button">browse</a>
                                a file
                            </div>
                        </div>
                    </div>
                    <input multiple type="file" style="display: none;" #selectFile value="select" (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of productForm.get('productImages')?.value; let i = index;">
                                <div style="position: relative" *ngIf="file">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="200px" height="150px" *ngIf="file.url">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
            <div align="center">
                <button mat-stroked-button color="primary" style="margin-right: 3px;" (click)="productForm.reset()">Clear</button>
                <button type="submit" *ngIf="isNewProduct" mat-stroked-button color="primary">Add Product</button>
                <button type="submit" *ngIf="!isNewProduct" mat-stroked-button color="primary">Update Product</button>
            </div>
        </div>
    </div>
</div>
