<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput
                       formControlName="userName"
                       id="userName"
                       placeholder="Username">
                <mat-hint>Username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input type="password"
                       matInput
                       formControlName="userPassword"
                       id="userPassword"
                       placeholder="Password">
                <mat-hint>Contraseña</mat-hint>
            </mat-form-field>

            <button class="w-100" type="submit" mat-raised-button color="primary">Login</button>
            <button class="w-100" mat-raised-button color="primary" type="button" (click)="registerUser()">Create an account</button>

        </form>
    </div>
</div>
